* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
  }

  body {
    max-width: 1320px;
    font-family: "Lato", sans-serif;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul ,
  li {
    list-style: none;
  }

/*
=============================================================================

                            HEADER

=============================================================================
*/
  input[type="text"] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    color:transparent;
    cursor:default;
    border: none;
    outline: none;
  }

.search-bar .enter {
    right: initial;
    left: 0;
    color: #ccc;
}

.search-bar .searching {
    padding-right: 12px;
    padding-left: 34px;
}


.brand-logo svg {
  height: 20px;
  fill: white;
}

.button {
  cursor: pointer;
}

.navbar-toggle{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
