body {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
  background-color: rgba(165, 165, 165, 0.363);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

a {
  color: black;
}

h5 {
  color: #353434;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h6 {
  padding: 20px;
}

h3 {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-sect {
  background-color: white;
  margin-top: 2px;
  padding: 20px 20px;
}

/*
==================================================================================================================
                  HEADER
==================================================================================================================
*/
.heading {
  margin: 0;
  padding: 0;
}

#scrolling-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.scroll-content {
  background-color: red;
  height: 100px;
  display: flex;
  min-width: 100%;
}

.header-buttons {
  margin: auto 10px auto 10px;
  padding-top: 30px;
  right: 10%;
}

.header-buttons.login {
  text-decoration: none;
  font-weight: bolder;
  padding: 0 20px;
}

.header-buttons .sub-button {
  background-size: cover;
  background-color: yellow;
  border: yellow solid 1px;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bolder;
  color: black;
}

.head-logo {
  margin: auto auto;
  width: 400px;
  align-content: center;
}

.head-logo a svg {
  fill: white;
}

.date {
  margin: auto 10px auto 10px;
  padding-top: 30px;
  color: white;
}

/*
 =============================================================================

        Middle Section

 =============================================================================
*/

.middle {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/*
=============================================================================

        Magazine Section

 =============================================================================
 */

 /*
============================================================================================================

                      footer

============================================================================================================
*/

footer {
  background: white;
  padding: 0 50px;
  margin-top: 2px;
}
.foot-logo a svg {
  fill: red;
  width: 300px;
}